<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
</head>
<body>
    <form method="post" action="/home/UploadFile" enctype="multipart/form-data" id="formid">
        <input type="file" name="file" />
        <input type="button" id="btnid" value="Send" />
    </form>
    <script type="text/javascript">

    $(document).on("click", "#btnid", function (event) {
        event.preventDefault();
        var fileOptions = {
            success: function() {},
            dataType: "json"
        }
        $("#formid").ajaxSubmit(fileOptions);
    });

    </script>
</body>
</html>
